.gwt-LayoutSettingsPanel{
    margin-left: 10px;
    width: 600px;
    margin-bottom: 5px;
    border: solid 1px #7de2ff;
    background: #f2f2f2;
    outline: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */


}
.gwt-LayoutSettingsPanel .labeldesc{
    font-weight: bold;
    padding: 5px;
    background: #00d2ff;
    color: #3a3a4d;
    margin-bottom: 5px;
}
.gwt-LayoutSettingsPanel .gwt-ListBox{
    background: #70d8ff;
}
.gwt-LayoutSettingsPanel .columnLane{
    width: 600px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
}
.gwt-LayoutSettingsPanel .columnLane:hover{
    background: #61b8ff;
}
.gwt-LayoutSettingsPanel .columnLane{
    outline: none !important;
}
.errorLabel{
    font-weight: bold;
    color: red;
}

.successLabel{
    font-weight: bold;
    color: green;
}

.processLabel{
    color : #0f0f1f
}



.gwt-rangeTextLane {
    margin-left: 5px;
    width:600px;
}
.gwt-rangeTextLane input[type=number]{
    background: #70d8ff;

}
.gwt-rangeTextLane .gwt-Label{
    margin: 5px;
}
.gwt-Button {
    outline: none;
    background: #70d8ff;
    font-size: 14px;
    border-radius: 12px;
    color: #3a3a4d;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-color: transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px;
}

.gwt-Button:hover {
    background: #00d1ff;
}
.gwt-RadioButton label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 16px;
}

.gwt-RadioButton input[type=radio] {
    display: none;
}

.gwt-RadioButton label:before {
    content: "";

    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #282E5A;

}
.gwt-RadioButton label:before {
    border-radius: 8px;
}
.gwt-RadioButton input[type=radio]:checked + label:before {
    content: "\2022";
    color: aqua;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

.gwt-LayoutSettingsPanel *:not(#fake) {
    outline: none
}

.gwt-LayoutSettingsPanel .gwt-PushButton {
    margin-right:-30px;
}

