<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>XlsViewerService</servlet-name>
        <servlet-class>ru.spb.nicetu.tableviewer.server.XlsViewerServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XlsViewerService</servlet-name>
        <url-pattern>/tableviewer/xlsviewer_service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportTableService</servlet-name>
        <servlet-class>ru.spb.nicetu.tableviewer.server.ExportTableServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportTableService</servlet-name>
        <url-pattern>/tableviewer/ExportTableService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>ru.spb.nicetu.tableviewer.server.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/tableviewer/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This servlet sends file to client</description>
        <display-name>DownloadFileServlet</display-name>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>ru.spb.nicetu.tableviewer.server.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/tableviewer/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /tmp/
        </param-value>
    </context-param>
    <context-param>
        <description>Temp folder</description>
        <param-name>temp-file-upload</param-name>
        <param-value>
            /tmp/
        </param-value>
    </context-param>


    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>tableviewer.html</welcome-file>
    </welcome-file-list>

</web-app>
